---
layout: compress
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div class="container">

            {% include navigation.html %}

            <div class="page-content">
                {{ content }}
            </div>

            {% include footer.html %}
        </div> <!-- /container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ "/assets/js/ie10-viewport-bug-workaround.js" | prepend: site.baseurl }}"></script>
        <!-- script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.native/0.9.7/bootstrap-native.min.js"></script -->
    </body>
</html>
