---
#
---
<div class="row-fluid my-bibdiv">
    <div class="row" >
        <div class="col-md-12">    
            <div class="hyphenate">
                {{ reference | hyphenate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="btn-toolbar" role="toolbar">
                {% if entry.abstract == blank %}
                    {% assign button_is = "disabled" %}
                {% else %}
                    {% assign button_is = "enabled" %}
                {% endif %}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-xs {{button_is }}"
                        data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseabstr-{{ entry.key | slugify }}"
                        data-target="#collapseabstr-{{ entry.key | slugify }}">
                        abstract
                        <!-- <span class="caret"></span> -->
                    </button>
                </div>
                {% if entry.publisher contains "In Press" or
                    entry.publisher contains "in Press" or
                    entry.publisher contains "Submitted" or
                    entry.publisher contains "submitted" or
                    entry.type contains "Upcoming" or
                    entry.type contains "upcoming" or
                    entry.type contains "Accepted" or
                    entry.type contains "accepted" %}
                    {% assign button_is = "disabled" %}
                {% else %}
                    {% assign button_is = "enabled" %}
                {% endif %}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-xs {{button_is }}"
                        data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapsebib-{{ entry.key | slugify }}"
                        data-target="#collapsebib-{{ entry.key | slugify }}">
                        bibtex entry
                        <!-- <span class="caret"></span> -->
                    </button>
                </div>
                {% if entry.url == blank and links.pdf == blank %}
                    {% assign button_is = "disabled" %}
                {% else %}
                    {% assign button_is = "enabled" %}
                {% endif %}
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-xs {{ button_is }}"
                        data-toggle="collapse" aria-expanded="false"
                        aria-controls="collapseurl-{{ entry.key | slugify }}"
                        data-target="#collapseurl-{{ entry.key | slugify }}">
                        link 
                        <!-- <span class="caret"></span> -->
                    </button>
                </div>
                {% if entry.type contains 'talk' or entry.type contains 'poster' or entry.type == 'magazine' or entry.type contains 'lecture' %}
                <div class="btn-group" role="group">
                    <span class="label label-info">{{ entry.type }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if entry.abstract %}
    <div class="collapse" id="collapseabstr-{{ entry.key | slugify }}">
        <div class="panel panel-default">
            <div class="panel-body bg-info hyphenate">
                {{ entry.abstract | hyphenate }}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="collapse" id="collapsebib-{{ entry.key | slugify }}">
        <div class="panel panel-default">
            <div class="panel-body bg-info">
                <pre class="bg-info">{{ entry.bibtex }}</pre>
            </div>
        </div>
    </div>
    {% if entry.url or links.pdf %}
        <div class="collapse" id="collapseurl-{{ entry.key | slugify }}">
            <div class="panel panel-default">
                    <div class="panel-body bg-info">
                        {% if entry.url %}
                            <div>www: <a href="{{ entry.url }}" target="_blank">{{ entry.url }}</a></div>
                        {% endif %}
                        {% if links.pdf %}
                            <div>local: <a href="{{ links.pdf }}" target="_blank">{{ entry.key }}.pdf</a></div>
                        {% endif %}
                    </div>
            </div>
        </div>
    {% endif %}
</div>
<br />
