@misc{krdwrd.org/manual,
    author = {{The KrdWrd Team (krdwrd.org)}},
    file = {:home/egon/Books/mndlyBooks/The KrdWrd Team (krdwrd.org)/Unknown/The KrdWrd Team (krdwrd.org) - 2010 - Add-on Manual.pdf:pdf},
    institution = {The KrdWrd Project},
    mendeley-groups = {Projects/2008\_WAC,CV/otheroutput},
    title = {{Add-on Manual}},
    type = {manual},
    url = {http://krdwrd.github.io/manual/},
    year = {2010}
}
